$vp--320: 320px;
$vp--375: 375px;
$vp--480: 480px;
$vp--520: 520px;
$vp--768: 768px;
$vp--1024: 1024px;
$vp--1280: 1280px;
$vp--1440: 1440px;
$vp--1920: 1920px;

// colors

$bg-primary: #34363d;
$bg-secondary: #292b30;
$text-primary: #ffffff;
